# Environment files
server/.env
client/.env

# Dependencies
node_modules
**/node_modules

# Logs
*.log

# Build files
client/dist
build

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# Render
.render